root_id                        = "tf-cafes"
root_name                      = "Learn Terraform ES"
default_location               = "eastus"
deploy_FME_landing_zones      = true
deploy_management_resources    = false
deploy_connectivity_resources  = false
security_contact_email_address = "security.contact@replace_me"
